body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #e0e0e0; /*fundo da pagina*/
}

header {
    background: #004d99; /*Fundo do cabeçalho*/
    color: #fff; /*Cor da letra da cabeçalho*/
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.subtitulo {
    margin: 0;
    padding: 10px;
    background: #850000;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.conteudo-principal div { /*Cards*/
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 11px;
}

h2 {
    color: #003b75;
}

img {
    width: 100%;
    border-radius: 8px;
}


.sub{
    color: #ffffff;
    background-color: #850000;
}

.subtitle{
   background-color: #004d99;
    margin: 0;
    padding: 10px;
}

#fundo{     /*Imagem de fundo*/
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px;
    padding: 0px;
}

.paginacentral div img{ /*Bandeira da noruega*/
    height: 150px;
    width: 180px;
    padding: 10px;
    border-radius: 15px;
}

.paginacentral{
    background-color: #c9c9c9;
    color: #000000;
}

.contanair{
    display: flex;
   
}  

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width: 40px;
    height: 40px;

}

footer a {
    margin: 20px;
    text-align: center;
    justify-content: center;
}

footer p {
    margin-top: 2px;
}