  form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #e7e5e5;
  }

  label {
    font-weight: bold;
  }

  input, textarea, button {
    width: 100%;
    border: 1px solid #303030;
    border-radius: 4px;
  }

  button {
    background-color: #003cff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #00b31e;
  }
  #feedbacktxt{
    text-align: center;
  }